<%= simple_form_for(@item, :html => {:class => 'form-horizontal'}, :defaults => { :label => false} ) do |f| %>
  <%= image_tag @item.image_url %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :product_url %>
  <%= f.input :image_url  %>
  
  <div class="boardlist">
    <ul>
      <% @boards.each do |board| %>
        <%= content_tag :li, board.name, data: { id: board.id } %>
      <% end %>
    </ul>
    <%= link_to "Or Create a New Board", "#", :id => "newBoardButton" %>
  </div>

  <div class ="newBoard">
    <input type="text" Value="New Board" id="board_id" />
    <%= link_to "Or Choose an Existing Board", "#", :id => "existingBoardButton" %>
  </div>

  <%= f.button :submit %>
<% end %>
