<%= simple_form_for(@item, :html => {:class => 'form-horizontal'}, :defaults => { :label => false} ) do |f| %>
  <%= image_tag @item.image_url %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :product_url %>
  <%= f.input :image_url  %>
  
  <div class="boardlist">
    <%= f.association :board %>
    <%= link_to "Or Create a New Board", "#", :id => "newBoardButton" %>
  </div>

  <div class ="newBoard">
    <input type="text" id="board_id" name="item[new_board]" />
    <%= link_to "Or Choose an Existing Board", "#", :id => "existingBoardButton" %>
  </div>

  <%= f.button :submit %>
<% end %>
